@media only screen and (min-width: 768px){
    #navbar{
        overflow:hidden;
        width: 25vw;
        height:100%;
        position:fixed;
        top:0;
        left:0;
        position: fixed;
    }
}